.container {
  margin: 50px 0;
}

.card{
  margin: 0 2% !important;
}

.infected {
  border: 5px solid transparent;
    border-image: linear-gradient(to left, rgba(104,143,175,.5), whitesmoke);
    border-image-slice: 1;

}

.recovered {
  border: 5px solid transparent;
    border-image: linear-gradient(to left, #43d4c1, whitesmoke);
    border-image-slice: 1;
}

.deaths {
  border: 5px solid transparent;
  border-image: linear-gradient(to left, rgba(255,0,0,.5), whitesmoke);
  border-image-slice: 1;
}

@media(max-width: 770px){
  .card {
    margin: 2% 0!important;
  }
}